.wrapper{

}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 8vh;
}
.container_account p{
    width: 70%;
    margin: 10px auto;
}
.container_account{
    width: 100%;
    max-width: 400px;
    height: 65vh;
    box-shadow: 1px 1px 10px 3px #E5EDF6 ;
    text-align: center;
    border-radius: 15px;
}
.container_account:before{
    content: "";
    width: 400px;
    height: 15vh;
    background: #293D5B;
    display: block;
    position: absolute;
    z-index: -1;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.container_info{
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 1px 1px 10px 3px #E5EDF6;
    border-radius: 15px;
    margin-left: 30px;
    text-align: center;
    padding: 15px;
}
.save_info_btn{
    display: flex;
    height: 56px;
    width: 140px;
    font-size: 20px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background: #2876ED;
    border: transparent;
    color: white;

}
.container_save_btn{

}
.container_info input{
    display: block;
}
.container_account img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100%;
    margin-top: 30px;
}
progress{
    width: 65%;
    height: 28px;
}
.gradient_progressbar progress {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    margin-top: 10px;
    background: #eee;
    border: 0;
    width: 65%;
    height: 18px;
    border-radius: 9px;
    color: #2876ED;

}
.gradient_progressbar{
    margin-top: 20px;
}
.gradient_progressbar progress::-webkit-progress-bar {
    background: #E5EDF6;
    border-radius: 9px;
}
.gradient_progressbar progress::-webkit-progress-value {
    background: linear-gradient(to bottom, #2876ED 0%, #2876ED 100%);
    border-radius: 9px;
}
.gradient_progressbar progress::-moz-progress-bar {
    background: linear-gradient(to bottom, #2876ED 0%, #2876ED 100%);
    border-radius: 9px;
}
.info_input1{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /*margin-left: 50px;*/
}
.info_input2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 15px;
    align-items: flex-end;
}

/*mobile*/
/*mobile*/