@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@1,700&family=Jost&family=Play&display=swap');
* {
    margin: 0;/*это свойство можно удалить, если вы используете reset, normalize или нечто подобное*/
    font-family: 'Jost', sans-serif;
    color: #363636;
}

html,
body {
    font-family: 'Play', sans-serif;
    height: 100%;
    overflow-x: hidden;
    background: linear-gradient(0deg, rgba(59, 35, 35, 0) 0%, rgba(95, 46, 18, 0) 36%, rgb(240 85 122 / 0%) 100%);
}
.container_news{
    width: 100%;
    max-width: 80vw;
    display: block;
    margin: 0 auto;
}

.news_head{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.news_head p{
    width: 500px;
    margin-right: 10px;
}
.news_head button{
    width: 170px;
    height: 50px;
    display: flex;
    font-size: 16px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background: #2876ED;
    border: transparent;
    color: white;
}
.news{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.item_news{
    margin-top: 50px;
    margin-right: 40px;
    width: 250px;
}
.news .item_news p:first-child{
    font-size: 12px;
    color: #464646;
}
.news .item_news p:last-child{
    font-size: 15px;
    color: #464646;
    font-weight: bold;
}
.item_news button{
    margin-top: 10px;
    display: flex;
    height: 40px;
    width: 140px;
    font-size: 16px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background: #2876ED;
    border: transparent;
    color: white;
}
h2{
    font-size: 35px;
}
.item_news img{
    width: 110%;
    object-fit: cover;
}