.App{
    display: flex;
}

.textField input{
    padding: 15px 10px 15px 10px;
}

.textField{
    margin-top: 20px;
}

.textField div:first-child {
    width:100%
}

.container{
    display: flex;
    align-self: center;
    padding: 10vw;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 1px 1px 18px 0px var(--main-color);;
}

h3{
    text-align: center;
    color: #414141;
}

.center{
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container button{
    margin:20px auto;
    display: flex;
    height: 40px;
    width: 140px;
    font-size: 20px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    border: transparent;
    color: white;
}
