.accountPhoto{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    object-fit: cover;
}

.NavAccount{
    display: flex;
    align-items: center;
}
.NavAccount p{
    margin-right: 10px;
}
.NavLogo{
    display: flex;
}
.NavLogo img{
    width: 100px;
}